<div class="quotationBox">
  <div class="header keyBgHeader">
    行情
  </div>
  <table class="quotationTable mt80Rem">
    <tr class="tableTop">
      <td>名称</td>
      <td>现价</td>
      <td>涨幅</td>
      <td>涨跌</td>
      <td>今开</td>
      <td>最高</td>
      <td>最低</td>
      <td>成交量</td>
    </tr>
    <tr class="tableCon up">
      <td>
        <img src="../../../assets/images/wood_little_icon.png" alt="">
        <p>梧桐木</p>
      </td>
      <td class="up">0.0122</td>
      <td class="up">+0.069</td>
      <td class="up">0.0218</td>
      <td>0.0211</td>
      <td class="up">0.0521</td>
      <td class="down">0.0121</td>
      <td>373895</td>
    </tr>
    <tr class="tableCon down">
      <td>
        <img src="../../../assets/images/wood_little_icon.png" alt="">
        <p>梧桐木</p>
      </td>
      <td class="up">0.0122</td>
      <td class="up">+0.069</td>
      <td class="up">0.0218</td>
      <td>0.0211</td>
      <td class="up">0.0521</td>
      <td class="down">0.0121</td>
      <td>373895</td>
    </tr>
  </table>
  <div class="ChartBox pb80Rem">
    <div class="WrapB">
      <div class="chartChange">
        <div class="chartBtn fLine">分时</div>
        <div class="chartBtn kLine seled">k线</div>
      </div>
      <div class="chart">

      </div>
    </div>
  </div>
  <div class="footer">
    <a feedButton class="navItem active">
      <div class="navIcon">

      </div>
      <p>行情</p>
    </a>
    <a class="navItem">
      <div class="navIcon">

      </div>
      <p>市场</p>
    </a>
    <a class="navItem">
      <div class="navIcon">

      </div>
      <p>个人</p>
    </a>
  </div>
</div>
