<div class="promoteList ">
  <Header
    [title]="headerTitle"
    (onVoted)="back($event)">
    >
  </Header>
  <div class="grayBgBar mt80Rem"></div>
  <h1 class="secTitle">
    推广统计
  </h1>
  <div class="prtAllNum">
    <p class="allNumText keyColor">
      187<span>人</span>
    </p>
  </div>
  <div class="grayBgBar"></div>
  <h1 class="secTitle">
    推广列表
  </h1>
  <table class="listTable prtList">
    <tr class="tableHeader prtListHeader">
      <td>ID</td>
      <td>用户名</td>
      <td>注册时间</td>
    </tr>
    <tr class="tableContent prtListContent">
      <td>888</td>
      <td>王晓涛</td>
      <td>2017/09/05</td>
    </tr>
    <tr class="tableContent prtListContent">
      <td>888</td>
      <td>王晓涛</td>
      <td>2017/09/05</td>
    </tr>
    <tr class="tableContent prtListContent">
      <td>888</td>
      <td>王晓涛</td>
      <td>2017/09/05</td>
    </tr>
  </table>
</div>
