<div class="promoteList ">
  <Header
    [title]="headerTitle"
    (onVoted)="back()">
    >
  </Header>
  <div class="grayBgBar mt80Rem"></div>
  <h1 class="secTitle">
    推广统计
  </h1>
  <div class="prtAllNum">
    <p class="allNumText keyColor">
      {{total}}<span>人</span>
    </p>
  </div>
  <div class="grayBgBar"></div>
  <h1 class="secTitle">
    推广列表
  </h1>
  <weui-infiniteloader (loadmore)="onLoadMore($event)">
  <table class="listTable prtList">
    <tr class="tableHeader prtListHeader">
      <td>ID</td>
      <td>用户名</td>
      <td>注册时间</td>
    </tr>
    <tr class="tableContent prtListContent"
      *ngFor = "let item of list"
    >
      <td>{{item.id}}</td>
      <td>{{item.realName}}</td>
      <td>{{item.createTime|date:"yyyy/M/d"}}</td>
    </tr>
    <!--<tr class="tableContent prtListContent">
      <td>888</td>
      <td>王晓涛</td>
      <td>2017/09/05</td>
    </tr>
    <tr class="tableContent prtListContent">
      <td>888</td>
      <td>王晓涛</td>
      <td>2017/09/05</td>
    </tr>-->
  </table>
    <div class="noCon" [ngClass]="{hide:isHasOdrList}">
      没有任何记录
    </div>
    <div class="loadFinished" [ngClass]="{active:isLoaded}">加载完毕</div>
  </weui-infiniteloader>
</div>
