<div class="promoteLink">
  <Header
    [title]="headerTitle"
    (onVoted)="back($event)">
    >
  </Header>
  <div class="grayBgBar mt80Rem"></div>
  <div class="prtCodeText">
    <h1 class="codeText">10086</h1>
    <p class="codeDesc">我的推广码</p>
  </div>
  <div class="prtCodeCon">
    <div class="top">我的推广二维码</div>
    <img class="ewCode" src="../../assets/images/erw_code.png" alt="">
    <div class="bot">www.0001wan.com</div>
  </div>
  <div class="tipsArea bgGreen">
    <p>温馨提示：</p>
    <p>1.通过您的推荐链接/二维码/推荐码注册的会员,将成为您的推广会员。</p>
    <p>2.您将享受推广会员在游戏首次充值的奖励。</p>
    <br/>
    <p>使用说明：</p>
    <p>1.复制上面的推广链接或二维码，并发送给好友。</p>
    <p>2.好友通过链接或者扫码进入注册页面进行注册，将成为您的推广会员</p>
    <br/>
    <p>关于微信推广连接的补充说明：</p>
    <p>1.进入微信客户端</p>
    <p>2.点击底部主菜单[发现]->[扫一扫]，扫描二维护码即可打开页面。（当然你也可以直接复制连接发送给您的好友）</p>
    <p>3.进入页面后，点击界面右上角的菜单按钮，弹出菜单面板后可分享页面给好友，朋友圈以及QQ空间。</p>
  </div>
</div>
