<div class="rechargeRecord promoteAward">
  <Header
    [title]="headerTitle"
    (onVoted)="back()">
    >
  </Header>
  <div class="grayBgBar mt80Rem"></div>
  <ul class="rchRecList AwardList">
    <li class="rchRecItem AwardItem WrapB wx">
      <div class="recLeft fl">
        <div class="rchType userPic">
          <img src="../../assets/images/award_list_user_img.png" alt="">
        </div>
        <div class="payStr">
          <div class="rchTypeText">
            蜡笔小新
          </div>
          <div class="rchTime">
            2017-9-11 15:52:22
          </div>
        </div>
      </div>
      <div class="recRight awardRight fr">
        +1000
        <p>首冲奖励</p>
      </div>
    </li>
    <li class="rchRecItem AwardItem WrapB wx">
      <div class="recLeft fl">
        <div class="rchType userPic">
          <img src="../../assets/images/award_list_user_img.png" alt="">
        </div>
        <div class="payStr">
          <div class="rchTypeText">
            蜡笔小新
          </div>
          <div class="rchTime">
            2017-9-11 15:52:22
          </div>
        </div>
      </div>
      <div class="recRight awardRight fr">
        +1000
        <p>首冲奖励</p>
      </div>
    </li>
    <li class="rchRecItem AwardItem WrapB wx">
      <div class="recLeft fl">
        <div class="rchType userPic">
          <img src="../../assets/images/award_list_user_img.png" alt="">
        </div>
        <div class="payStr">
          <div class="rchTypeText">
            蜡笔小新
          </div>
          <div class="rchTime">
            2017-9-11 15:52:22
          </div>
        </div>
      </div>
      <div class="recRight awardRight fr">
        +1000
        <p>首冲奖励</p>
      </div>
    </li>
  </ul>
</div>
