<div class="marketDetailBox">
  <div feedButton routerLink="/assignTrade" class="toAssignTrade">指定交易</div>
  <Header
    [title]="headerTitle"
    (onVoted)="back()">
  >
  </Header>

  <div class="marketBaseInfo mt80Rem">
    <div class="conWrap">
      <div class="infoLeft fl">
        <div class="upDwonIndex" [ngClass]="{down:proDetail.changePrice<0}">
          <div class="indexNum">{{proDetail.nowPrice}}</div>
          <div class="indexPic">
            &nbsp;
          </div>
        </div>
        <div class="detailInfo" [ngClass]="{down:proDetail.changePrice<0}">
          <div class="infoDetail fl">{{proDetail.changePrice}}</div>
          <div class="infoDetail fl">{{proDetail.changeRate}}</div>
        </div>
      </div>
      <div class="infoRight fr">
        <table>
          <tr>
            <td>
              <p>今开</p>
              <span>{{proDetail.toOpenPrice}}</span>
            </td>
            <td>
              <p>成交</p>
              <span>{{proDetail.tranVolume}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <p>最高</p>
              <span class="mostUp">{{proDetail.heightPrice}}</span>
            </td>
            <td>
              <p>最低</p>
              <span class="mostDown">{{proDetail.lowPrice}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="dgtTableWrap" [ngClass]="{close:!isShowBuySale}">
    <div feedButton class="dgtOpenBtn" [ngClass]="{close:!isShowBuySale}" (click)="showBuySaleBox()">

    </div>
    <div class="WrapB tableBox">
      <table class="dgtTable fl">
        <tr class="tableTop">
          <td>买/卖</td>
          <td>价格</td>
          <td>委托量</td>
        </tr>
        <tr class="tableCon" *ngFor="let item of saleFive;index as i" >
          <td class="keyColor">卖{{numArr[i]}}</td>
          <td class="upColor">{{item.price}}</td>
          <td>{{item.cnt}}</td>
        </tr>
      </table>
      <table class="dgtTable fr">
        <tr class="tableTop">
          <td>买/卖</td>
          <td>价格</td>
          <td>委托量</td>
        </tr>
        <tr class="tableCon" *ngFor="let item of buyFive;index as i" >
          <td class="upColor">买{{numArr[i]}}</td>
          <td class="upColor">{{item.price}}</td>
          <td>{{item.cnt}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ChartBox">
    <div class="WrapB">
      <div class="chartChange">
        <div class="appointInfo">
          <span>开0.0132</span>
          <span>收0.0132</span>
          <span>高0.0132</span>
          <span>低0.0132</span>
          <span>涨跌 <i class="upColor">+0.0132</i></span>
        </div>
        <div feedButton class="chartBtn fLine" (click)="changeToFLine()" [ngClass]="{seled:chartType==2}">分时</div>
        <div feedButton class="chartBtn kLine seled" (click)="changeToKLine()" [ngClass]="{seled:chartType==1}">k线</div>
      </div>
      <div class="chart">
        <echarts-ng2 #myEcharts></echarts-ng2>
      </div>
    </div>
  </div>
  <div class="oprBtnWrap">
    <div class="innerBox">
      <div feedButton class="dgtOrderBtn" (click)="showOdrBox(true)">

      </div>
      <div feedButton class="oprBtn buyBtn cl_w keyColorBg fl" (click)="showSaleBox(true)">
        现价卖出
      </div>
      <div feedButton class="oprBtn saleBtn cl_w upColorBg fr" (click)="showBuyBox(true)">
        现价购买
      </div>
    </div>
  </div>
  <div class="footer">
    <a feedButton routerLink="/market" class="navItem">
      <div class="navIcon">

      </div>
      <p>行情</p>
    </a>
    <a feedButton class="navItem active">
      <div class="navIcon">

      </div>
      <p>市场</p>
    </a>
    <a feedButton routerLink="/userCenter" class="navItem">
      <div class="navIcon">

      </div>
      <p>个人</p>
    </a>
  </div>
  <!--现价购买弹框-->
  <div vertical class="curPriseTradBox conWrap" [ngClass]="{active:isShowBuyBox}">
    <div class="alertTop">
      <div class="alertCon">
        <span>购买</span>
        <i feedButton class="closeIcon" (click)="showBuyBox(false)">

        </i>
      </div>
      <div class="alertCen alertCon">
        <div class="inputCtr radiu border withTitle">
          <i class="leftTitle">买入价格</i>
          <input type="number" [(ngModel)]="buyPara.price" class="input" (input)="calcBuyPrice()" name="buyPrice"/>
          <i class="rightText lb">金币</i>
        </div>
        <div class="inputCtr radiu border withTitle">
          <i class="leftTitle">买入数量</i>
          <input type="number" [(ngModel)]="buyPara.cnt" (input)="calcBuyPrice()" class="input" name="buyCnt"/>
          <i class="rightText lb">数量</i>
          <!--<select name="saleType" class="input wT" id="saleType">-->
            <!--<option value="0">%</option>-->
            <!--<option value="1">金币</option>-->
          <!--</select>-->
        </div>
        <div class="inputCtr radiu border withTitle">
          <i class="leftTitle">总计金币</i>
          <input type="number" disabled class="input" [(ngModel)]="buyAllPrice" name="buyPrice"/>
          <i class="rightText lb">金币</i>
        </div>
        <div class="accountInfo w100">
          <div class="gold fl tl">可用金币
            <i class="upColor">{{myGold}}</i>
            金币
          </div>
          <div class="fee fr tr">手续费
            <i class="upColor">{{buyChr}}</i>
          </div>
        </div>
        <br>
        <br>
        <div feedButton class="btn upBtn" (click)="buySale('0')">
          限价购买
        </div>
      </div>
    </div>
  </div>

  <!--//确认对话框-->
  <!--<div class="confirmDia">-->
    <!--<div class="diaText">-->

    <!--</div>-->
    <!--<div class="btnWrap">-->
      <!--<div class="opBtn cancelBtn fl">-->
        <!--取消-->
      <!--</div>-->
      <!--<div class="opBtn confimBtn fr">-->
        <!--确定-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--现价卖出弹框-->
  <div vertical class="curPriseTradBox conWrap" [ngClass]="{active:isShowSaleBox}">
    <div class="alertTop keyBg">
      <div class="alertCon">
        <span>卖出</span>
        <i feedButton class="closeIcon" (click)="showSaleBox(false)">

        </i>
      </div>
      <div class="alertCen alertCon">
        <div class="inputCtr radiu border withTitle">
          <i class="leftTitle">卖出价格</i>
          <input type="number" class="input" [(ngModel)]="salePara.price" (input)="calcSalePrice()" name="salePrice"/>
          <i class="rightText lb">金币</i>
        </div>
        <div class="inputCtr radiu border withTitle">
          <i class="leftTitle">卖出数量</i>
          <input type="number" class="input" [(ngModel)]="salePara.cnt" (input)="calcSalePrice()" name="saleCnt"/>
          <i class="rightText lb">数量</i>
        </div>
        <div class="inputCtr radiu border withTitle">
          <i class="leftTitle">总计金币</i>
          <input type="number" disabled [(ngModel)]="saleAllPrice" class="input" name="saleAmo"/>
          <i class="rightText lb">金币</i>
        </div>
        <div class="accountInfo w100">
          <div class="gold fl tl">持有量
            <i class="upColor">{{myWood}}</i>
          </div>
          <div class="fee fr tr">手续费
            <i class="upColor">{{saleChr}}</i>
          </div>
        </div>
        <br>
        <br>
        <div feedButton class="btn" (click)="buySale('1')">
          限价卖出
        </div>
      </div>
    </div>
  </div>

  <!--委托订单弹框-->
  <div class="dgtOrderBox" [ngClass]="{active:isShowOdrBox}">
    <div class="closeBox">
      <div feedButton class="closeBtn" (click)="showOdrBox(false)">

      </div>
    </div>
    <div class="boxCon">
      <div class="noCon" [ngClass]="{hide:isHasOdrList}">
        没有任何订单
      </div>
      <weui-infiniteloader (loadmore)="onLoadMore($event)">
        <table class="w100 entOrderTable" [ngClass]="{hide:!isHasOdrList}">
          <tr class="tabTop">
            <td>产品</td>
            <td>价格</td>
            <td>已成交/委托量</td>
            <td>操作</td>
          </tr>
          <!--<tr class="tabCon" *ngFor="let i of items">-->
            <!--<td>{{i}}</td>-->
            <!--<td>{{i}}</td>-->
            <!--<td>{{i}}</td>-->
            <!--<td>{{i}}</td>-->
          <!--</tr>-->

          <tr class="tabCon" *ngFor="let item of etuOdrList;index as i"
            [ngClass]="{
              sale:item.enType!='0',
              buy:item.enType=='0',
              ing:item.trStatus!='1',
              fure:item.trStatus=='1'
            }"
          >
            <td>
              {{item.proName}}
              <span>
                {{
                  item.enType=='0'?'买':'卖'
                }}
              </span>
            </td>
            <td>
              {{item.enPrice}}
            </td>
            <td>{{item.trCnt}}/{{item.enCnt}}</td>
            <td>
              <div feedButton class="canelBtn" (click)="cancelEtuOrder(item.id)">
                撤销
              </div>
            </td>
          </tr>

          <!--<tr class="tabCon sale ing">
            <td>
              梧桐木
              <span>卖</span>
            </td>
            <td>
              0.015
            </td>
            <td>0/100</td>
            <td>
              <div feedButton class="canelBtn">
                撤销
              </div>
            </td>
          </tr>
          <tr class="tabCon buy ing">
            <td>
              梧桐木
              <span>买</span>
            </td>
            <td>
              0.015
            </td>
            <td>0/100</td>
            <td>
              <div feedButton class="canelBtn">
                撤销
              </div>
            </td>
          </tr>
          <tr class="tabCon sale fure">
            <td>
              梧桐木
              <span>卖</span>
            </td>
            <td>
              0.015
            </td>
            <td>0/100</td>
            <td>
              <div feedButton class="canelBtn">
                撤销
              </div>
            </td>
          </tr>
          <tr class="tabCon buy fure">
            <td>
              梧桐木
              <span>买</span>
            </td>
            <td>
              0.015
            </td>
            <td>0/100</td>
            <td>
              <div feedButton class="canelBtn">
                撤销
              </div>
            </td>
          </tr>
          <tr class="tabCon buy fure">
            <td>
              梧桐木
              <span>买</span>
            </td>
            <td>
              0.015
            </td>
            <td>0/100</td>
            <td>
              <div feedButton class="canelBtn">
                撤销
              </div>
            </td>
          </tr>
          <tr class="tabCon buy fure">
            <td>
              梧桐木
              <span>买</span>
            </td>
            <td>
              0.015
            </td>
            <td>0/100</td>
            <td>
              <div feedButton class="canelBtn">
                撤销
              </div>
            </td>
          </tr>
          <tr class="tabCon buy fure">
            <td>
              梧桐木
              <span>买</span>
            </td>
            <td>
              0.015
            </td>
            <td>0/100</td>
            <td>
              <div feedButton class="canelBtn">
                撤销
              </div>
            </td>
          </tr>-->
        </table>
        <div class="loadFinished" [ngClass]="{active:isLoaded}">加载完毕</div>
      </weui-infiniteloader>
    </div>
  </div>
</div>

