<div class="rechargeRecordDetail cashDetail assignTradeDetail">
  <Header
    [title]="headerTitle"
    (onVoted)="back($event)">
    >
  </Header>
  <div class="rchRecBase mt80Rem">
    <div class="rchType tc">
      <img src="../../../assets/images/trade_detial_wood_icon.png" alt="">
      &nbsp;梧桐木
    </div>
    <p class="rchNum tc">
      +1000
    </p>
    <p class="rchSratus tc">
      完成
    </p>
  </div>
  <div class="rchInfoTable">
    <div class="grayBgBar"></div>
    <table class="WrapB tableT">
      <tr>
        <td>赠送人</td>
        <td>13855418476</td>
      </tr>
      <tr>
        <td>接收人</td>
        <td>13855418476</td>
      </tr>
      <tr>
        <td>手续费</td>
        <td>1.0211</td>
      </tr>
      <tr>
        <td>索取金币</td>
        <td>100</td>
      </tr>
      <tr>
        <td>赠送时间</td>
        <td>2017/09/04&nbsp;18:25:10</td>
      </tr>
      <tr>
        <td>成交时间</td>
        <td>2017/09/04&nbsp;18:25:10</td>
      </tr>
    </table>
  </div>
</div>
