@charset "UTF-8";
/*小提示动画start*/
.week-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(75, 75, 75, 0.85);
  color: #fff;
  padding: 9px 20px;
  font-size: 15px;
  z-index: 999; }
  .week-alert.alert-show {
    animation: show 2s; }

@keyframes show {
  0% {
    transform: translateY(-100%); }
  20% {
    transform: translateY(0); }
  50% {
    transform: translateY(0); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100%); } }

/*小提示动画end*/
/*遮罩层*/
.alertLayer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }

/*遮罩层*/
/*共用类*/
.w100 {
  width: 100%; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.fl {
  float: left; }

.fr {
  float: right; }

.dangerColor {
  color: #F18E00 !important; }

.dangerBg {
  background: #F18E00 !important; }

.upColor {
  color: #dd0125 !important; }

.keyColor {
  color: #01ddb6 !important; }

.upColorBg {
  background: #dd0125 !important; }

.keyColorBg {
  background: #01ddb6 !important; }

.tc {
  text-align: center; }

.cl_w {
  color: #fff !important; }

.borRau5, .btn, .inputCtr.radiu {
  border-radius: 5px; }

.mt80Rem {
  margin-top: 1.25rem; }

.pb80Rem {
  padding-bottom: 1.25rem; }

.conWrap {
  width: 9.0625rem;
  margin: 0 auto; }

.alertCon {
  width: 7.96875rem;
  margin: 0 auto; }

.WrapB {
  width: 9.40625rem;
  margin: 0 auto; }

.borRau8, .curPriseTradBox {
  border-radius: 8px;
  overflow: hidden; }

/*公用css组件*/
.header {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.25rem;
  background: #fff;
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.25rem;
  color: #000; }
  .header i.leftSwordIcon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 1.25rem;
    width: 1.25rem;
    float: left;
    background: url("../images/left_sword_icon.png") no-repeat center;
    background-size: 0.29688rem auto; }
  .header .headerTitle {
    width: 100%;
    height: 1.25rem; }
  .header.keyBgHeader {
    background: #01ddb6;
    color: #fff; }

.footer {
  z-index: 9;
  width: 100%;
  height: 1.53125rem;
  background: #f1f1f1;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex; }
  .footer .navItem {
    text-align: center;
    color: #bbbbbb;
    text-decoration: none;
    flex: 1; }
    .footer .navItem .navIcon {
      margin: 0.25rem auto 0 auto;
      width: 0.78125rem;
      height: 0.625rem;
      font-size: 0.3125rem;
      text-align: center; }
    .footer .navItem:nth-child(1) .navIcon {
      background: url("../images/kline_nav_icon.png") no-repeat center;
      background-size: 0.625rem 0.54688rem; }
    .footer .navItem:nth-child(1).active {
      color: #01ddb6; }
      .footer .navItem:nth-child(1).active .navIcon {
        background: url("../images/kline_nav_icon2.png") no-repeat center;
        background-size: 0.625rem 0.54688rem; }
    .footer .navItem:nth-child(2) .navIcon {
      background: url("../images/mark_nav_icon.png") no-repeat center;
      background-size: 0.5625rem 0.54688rem; }
    .footer .navItem:nth-child(2).active {
      color: #01ddb6; }
      .footer .navItem:nth-child(2).active .navIcon {
        background: url("../images/mark_nav_icon2.png") no-repeat center;
        background-size: 0.5625rem 0.54688rem; }
    .footer .navItem:nth-child(3) .navIcon {
      background: url("../images/nav_person_icon.png") no-repeat center;
      background-size: 0.46875rem 0.53125rem; }
    .footer .navItem:nth-child(3).active {
      color: #01ddb6; }
      .footer .navItem:nth-child(3).active .navIcon {
        background: url("../images/nav_person_icon2.png") no-repeat center;
        background-size: 0.46875rem 0.53125rem; }

.btn {
  height: 1.0625rem;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.46875rem;
  line-height: 1.0625rem;
  background: #01ddb6; }
  .btn .keyBtn {
    background: #01ddb6; }
  .btn.upBtn {
    background: #dd0125; }
  .btn.next {
    background: #fdcd88;
    box-sizing: border-box;
    border: 1px solid #F18E00; }

.inputCtr {
  width: 100%;
  height: 1.0625rem;
  line-height: 1.0625rem;
  position: relative;
  border-color: #d8d8d8; }
  .inputCtr.withTitle {
    position: relative; }
    .inputCtr.withTitle .leftTitle {
      font-size: 0.28125rem;
      text-align: center;
      color: #444;
      display: block;
      width: 1.54688rem;
      height: 1.0625rem;
      position: absolute;
      top: 0;
      left: 0;
      background: #f5f5f5;
      border-right: 1px solid #cbcbcb;
      box-sizing: border-box; }
    .inputCtr.withTitle .input {
      display: block;
      position: absolute;
      top: 0;
      width: 5.40625rem;
      left: 1.54688rem;
      text-indent: 0.3125rem; }
      .inputCtr.withTitle .input.wT {
        width: 6.09375rem; }
    .inputCtr.withTitle .rightText {
      display: block;
      height: 1.0625rem;
      line-height: 1.0625rem;
      text-align: center;
      width: 1.0625rem;
      position: absolute;
      right: 0;
      top: 0;
      color: #444;
      font-size: 0.28125rem; }
      .inputCtr.withTitle .rightText.lb {
        box-sizing: border-box;
        border-left: 1px solid #cbcbcb; }
  .inputCtr .leftIcon {
    display: block;
    width: 1.0625rem;
    height: 1.0625rem;
    position: absolute;
    top: 0;
    left: 0;
    background: red; }
  .inputCtr .input {
    display: block;
    background: none;
    border: none;
    height: 1.0625rem;
    line-height: 1.0625rem;
    font-size: 0.40625rem;
    text-align: left;
    color: #444; }
    .inputCtr .input.right {
      position: absolute;
      left: 1.25rem;
      top: 0;
      width: 7.125rem;
      float: right; }
  .inputCtr.border {
    border: 1px solid #d8d8d8; }
  .inputCtr.borderBot:before, .goldRechargeBox .inputCtr.quickPayBox:before, .goldRechargeBox .inputCtr.rchIpt:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #d8d8d8;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2; }

.noBg {
  background: none !important; }

.tipsArea {
  text-align: left;
  line-height: 0.375rem;
  padding: 0.34375rem;
  font-size: 0.28125rem;
  color: #444; }
  .tipsArea.bgGray {
    background: #f4f4f4; }
  .tipsArea.bgYellow {
    background: #FEF3E5; }
  .tipsArea.bgGreen {
    background: #E7FFFB; }

.borderBot:after, .goldRechargeBox .quickPayBox:after, .goldRechargeBox .rchIpt:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2; }

.borderTop:before, .goldRechargeBox .quickPayBox:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2; }

.grayBgBar {
  width: 100%;
  height: 0.1875rem;
  background: #f4f4f4; }

/*页面*/
.registBox .regBanner {
  margin-top: 1.25rem;
  width: 100%;
  height: 3.90625rem;
  background: url(../images/regist_bg.jpg) no-repeat center;
  background-size: 100% 100%; }

.registBox .regForm {
  background: #f7f7f7;
  width: 100%; }
  .registBox .regForm .inputCtr .leftIcon.reg_mobile {
    background: url(../images/regist_mobile.png) no-repeat left;
    background-size: 50%; }
  .registBox .regForm .inputCtr .leftIcon.reg_name {
    background: url(../images/regist_name.png) no-repeat left;
    background-size: 50%; }
  .registBox .regForm .inputCtr .leftIcon.reg_idcard {
    background: url(../images/regist_idcard.png) no-repeat left;
    background-size: 50%; }
  .registBox .regForm .inputCtr .leftIcon.reg_vercode {
    background: url(../images/regist_vercode.png) no-repeat left;
    background-size: 50%; }
  .registBox .regForm .inputCtr .leftIcon.reg_pwd {
    background: url(../images/regist_pwd.png) no-repeat left;
    background-size: 50%; }
  .registBox .regForm .inputCtr .leftIcon.reg_pwdagain {
    background: url(../images/regist_pwdagain.png) no-repeat left;
    background-size: 50%; }
  .registBox .regForm .inputCtr .leftIcon.reg_prtcode {
    background: url(../images/regist_prtode.png) no-repeat left;
    background-size: 50%; }
  .registBox .regForm .regBtn {
    margin-top: 1.65625rem; }

.regSuccess {
  display: none;
  background: #fff;
  width: 100%; }
  .regSuccess.active {
    display: block; }
  .regSuccess .tipsImg {
    width: 4.95313rem;
    height: 6.17188rem;
    margin: 2.14063rem auto 1.14063rem auto;
    background: url(../images/regist_success_tip.jpg) no-repeat center;
    background-size: 100% auto; }
  .regSuccess .nowLoadBtb {
    width: 9.09375rem;
    height: 1.0625rem;
    line-height: 1.0625rem;
    text-align: center;
    color: #01ddb6;
    font-size: 0.46875rem;
    border-radius: 1.0625rem;
    border: 1px solid #01ddb6;
    margin: 0 auto; }

.loadBox {
  width: 100%;
  background: #fff; }
  .loadBox .loadLogo {
    margin: 1.90625rem auto 1.04688rem auto;
    width: 100%;
    height: 2.60938rem;
    background: url(../images/load_logo.jpg) no-repeat center;
    background-size: 4.60938rem auto; }
  .loadBox .loadForm {
    width: 100%; }
    .loadBox .loadForm .inputCtr {
      margin-bottom: 0.3125rem; }
      .loadBox .loadForm .inputCtr .load_account {
        background: url("../images/load_account.png") no-repeat center;
        background-size: 50% auto; }
      .loadBox .loadForm .inputCtr .load_pwd {
        background: url("../images/load_pwd.png") no-repeat center;
        background-size: 50% auto; }
    .loadBox .loadForm .loadBtn {
      margin: 1.03125rem auto 1.5625rem auto; }
    .loadBox .loadForm .quickLoadText {
      width: 100%;
      height: 0.34375rem;
      background: url("../images/qiuck_load_text.png") no-repeat center;
      background-size: auto 100%;
      margin-bottom: 0.35938rem; }
    .loadBox .loadForm .quickLoadBox {
      width: 3.75rem;
      overflow: hidden;
      margin: 0 auto;
      height: 1.20313rem; }
      .loadBox .loadForm .quickLoadBox .quickLoadItem {
        display: inline-block;
        width: 1.20313rem;
        height: 1.20313rem; }
        .loadBox .loadForm .quickLoadBox .quickLoadItem.WX {
          background: url("../images/wx_quick_load.png") no-repeat center;
          background-size: 100%; }
        .loadBox .loadForm .quickLoadBox .quickLoadItem.QQ {
          float: right;
          background: url("../images/q_quick_load.png") no-repeat center;
          background-size: 100%; }

.quotationBox {
  background: #f5f5f5; }
  .quotationBox .quotationTable {
    width: 100%; }
    .quotationBox .quotationTable tr {
      width: 100%;
      text-align: center; }
      .quotationBox .quotationTable tr.tableTop {
        height: 0.6875rem;
        color: #000;
        font-size: 0.28125rem; }
      .quotationBox .quotationTable tr.tableCon {
        height: 1.0625rem;
        color: #4e4e4e; }
        .quotationBox .quotationTable tr.tableCon.up {
          background: #fce5e6; }
        .quotationBox .quotationTable tr.tableCon.down {
          background: #e5fcf8; }
        .quotationBox .quotationTable tr.tableCon img {
          width: 0.70313rem;
          height: 0.46875rem; }
        .quotationBox .quotationTable tr.tableCon td.up {
          color: #dd0125; }
        .quotationBox .quotationTable tr.tableCon td.down {
          color: #01ddb6; }
  .quotationBox .ChartBox {
    background: #fff;
    margin-top: 0.15625rem;
    width: 100%;
    height: 6.5625rem; }
    .quotationBox .ChartBox .chartChange {
      height: 0.9375rem;
      line-height: 0.5625rem;
      font-size: 0.3125rem;
      color: #444; }
      .quotationBox .ChartBox .chartChange .chartBtn {
        margin-top: 0.15625rem;
        text-align: center;
        display: inline-block;
        height: 0.5625rem; }
        .quotationBox .ChartBox .chartChange .chartBtn.seled {
          color: #01ddb6;
          border-bottom: 1px solid #01ddb6; }
        .quotationBox .ChartBox .chartChange .chartBtn.kLine {
          margin-left: 0.15625rem; }
    .quotationBox .ChartBox .chart {
      height: 5.625rem;
      width: 100%;
      background: #e5fcf8; }

.marketDetailBox .marketBaseInfo {
  overflow: hidden;
  padding-top: 0.3125rem;
  width: 100%;
  height: 2.3125rem; }
  .marketDetailBox .marketBaseInfo .infoLeft {
    width: 4.21875rem; }
    .marketDetailBox .marketBaseInfo .infoLeft .upDwonIndex {
      overflow: hidden;
      color: #dd0125;
      position: relative;
      width: 100%;
      height: 1.09375rem;
      line-height: 1.09375rem;
      font-size: 0.75rem; }
      .marketDetailBox .marketBaseInfo .infoLeft .upDwonIndex .indexNum, .marketDetailBox .marketBaseInfo .infoLeft .upDwonIndex .indexPic {
        height: 1.09375rem;
        display: inline-block; }
      .marketDetailBox .marketBaseInfo .infoLeft .upDwonIndex .indexPic {
        display: inline-block;
        width: 0.46875rem;
        background: url("../images/up_sword.png") no-repeat center;
        background-size: auto 0.625rem; }
    .marketDetailBox .marketBaseInfo .infoLeft.down .upDwonIndex {
      color: #01ddb6; }
      .marketDetailBox .marketBaseInfo .infoLeft.down .upDwonIndex .indexPic {
        display: inline-block;
        width: 0.46875rem;
        background: url("../images/down_sword.png") no-repeat center;
        background-size: auto 0.625rem; }
    .marketDetailBox .marketBaseInfo .infoLeft .detailInfo {
      width: 100%;
      color: #dd0125;
      line-height: 0.625rem;
      overflow: hidden; }
      .marketDetailBox .marketBaseInfo .infoLeft .detailInfo .infoDetail {
        margin-right: 0.3125rem; }
  .marketDetailBox .marketBaseInfo .infoRight {
    text-align: center;
    width: 2.5625rem;
    height: 1.78125rem; }
    .marketDetailBox .marketBaseInfo .infoRight table {
      font-size: 0.28125rem;
      color: #444;
      width: 2.5625rem;
      height: 1.78125rem; }
      .marketDetailBox .marketBaseInfo .infoRight table .mostUp {
        color: #dd0125; }
      .marketDetailBox .marketBaseInfo .infoRight table .mostDown {
        color: #01ddb6; }

.marketDetailBox .dgtTableWrap {
  position: relative;
  width: 100%;
  height: 2.25rem;
  background: #f5f5f5;
  overflow: visible; }
  .marketDetailBox .dgtTableWrap.close {
    height: 1px; }
    .marketDetailBox .dgtTableWrap.close .tableBox {
      display: none; }
  .marketDetailBox .dgtTableWrap .dgtOpenBtn {
    position: absolute;
    width: 1.01563rem;
    height: 1.01563rem;
    background: url("../images/pull_down_open.png") no-repeat center;
    background-size: 1.01563rem;
    top: -0.5rem;
    left: 4.40625rem;
    transition: all linear 300ms; }
    .marketDetailBox .dgtTableWrap .dgtOpenBtn.close {
      transform: rotate(180deg); }
  .marketDetailBox .dgtTableWrap .tableBox {
    color: #444;
    height: 2.25rem;
    font-size: 0.28125rem;
    overflow: auto; }
    .marketDetailBox .dgtTableWrap .tableBox table {
      width: 48%; }
      .marketDetailBox .dgtTableWrap .tableBox table.fl {
        text-align: center; }
      .marketDetailBox .dgtTableWrap .tableBox table.fr {
        text-align: center; }
      .marketDetailBox .dgtTableWrap .tableBox table .tableTop {
        height: 0.5rem; }
      .marketDetailBox .dgtTableWrap .tableBox table .tableCon {
        height: 0.46875rem; }

.marketDetailBox .ChartBox {
  padding-bottom: 3.125rem;
  background: #fff;
  margin-top: 0.07813rem;
  width: 100%;
  height: 6.5625rem; }
  .marketDetailBox .ChartBox .chartChange {
    position: relative;
    height: 0.9375rem;
    line-height: 0.5625rem;
    font-size: 0.3125rem;
    color: #444; }
    .marketDetailBox .ChartBox .chartChange .appointInfo {
      display: none;
      color: #444;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.9375rem;
      line-height: 0.9375rem;
      background: #fff; }
      .marketDetailBox .ChartBox .chartChange .appointInfo.active {
        display: block; }
      .marketDetailBox .ChartBox .chartChange .appointInfo span {
        margin-right: 0.15625rem; }
    .marketDetailBox .ChartBox .chartChange .chartBtn {
      margin-top: 0.15625rem;
      text-align: center;
      display: inline-block;
      height: 0.5625rem; }
      .marketDetailBox .ChartBox .chartChange .chartBtn.seled {
        color: #01ddb6;
        border-bottom: 1px solid #01ddb6; }
      .marketDetailBox .ChartBox .chartChange .chartBtn.kLine {
        margin-left: 0.15625rem; }
  .marketDetailBox .ChartBox .chart {
    height: 5.625rem;
    width: 100%;
    background: #e5fcf8; }

.marketDetailBox .oprBtnWrap {
  height: 1.09375rem;
  width: 100%;
  position: fixed;
  overflow: visible;
  left: 0;
  bottom: 1.5625rem; }
  .marketDetailBox .oprBtnWrap .innerBox {
    width: 100%;
    position: relative;
    overflow: visible; }
    .marketDetailBox .oprBtnWrap .innerBox .oprBtn {
      display: inline-block;
      text-align: center;
      width: 50%;
      font-size: 0.40625rem;
      height: 1.09375rem;
      line-height: 1.09375rem; }
    .marketDetailBox .oprBtnWrap .innerBox .dgtOrderBtn {
      position: absolute;
      height: 1.3125rem;
      width: 1.3125rem;
      background: url(../images/delg_order_btn.png) no-repeat center;
      background-size: 100%;
      top: -0.65625rem;
      left: 4.40625rem; }

.curPriseTradBox {
  display: none;
  left: 0.5rem;
  background: #fff;
  position: fixed;
  z-index: 11;
  height: 9.09375rem; }
  .curPriseTradBox.active {
    display: block; }
  .curPriseTradBox .alertTop {
    height: 0.9375rem;
    line-height: 0.9375rem;
    width: 100%;
    color: #fff;
    position: relative;
    background: #dd0125;
    font-size: 0.375rem;
    text-align: left; }
    .curPriseTradBox .alertTop.keyBg {
      background: #01ddb6; }
    .curPriseTradBox .alertTop .alertCon {
      height: 0.9375rem; }
      .curPriseTradBox .alertTop .alertCon .closeIcon {
        position: absolute;
        height: 0.9375rem;
        width: 0.9375rem;
        background: url(../images/close_icon.png) no-repeat center;
        background-size: 0.25rem;
        top: 0;
        right: 0; }
  .curPriseTradBox .alertCen .inputCtr {
    margin-top: 0.3125rem; }
  .curPriseTradBox .alertCen .accountInfo {
    line-height: 0.5625rem;
    font-size: 0.3125rem;
    color: #444; }

.dgtOrderBox {
  width: 100%;
  position: fixed;
  z-index: 11;
  bottom: -1px;
  left: 0;
  height: 7.89063rem; }
  .dgtOrderBox .closeBox {
    width: 100%;
    background: none;
    height: 0.6875rem; }
    .dgtOrderBox .closeBox .closeBtn {
      width: 1rem;
      height: 0.6875rem;
      float: right;
      margin-right: 0.28125rem;
      background: #01ddb6 url(../images/close_icon.png) no-repeat center;
      background-size: 0.25rem;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      overflow: hidden; }
  .dgtOrderBox .boxCon {
    width: 100%;
    height: 7.17188rem;
    background: #fff;
    overflow: auto; }
    .dgtOrderBox .boxCon table {
      text-align: center;
      width: 100%; }
      .dgtOrderBox .boxCon table .tabTop {
        height: 0.9375rem;
        font-size: 0.375rem;
        font-weight: bold;
        color: #444; }
      .dgtOrderBox .boxCon table .tabCon {
        position: relative;
        height: 1.25rem;
        color: #444;
        font-size: 0.375rem;
        border-bottom: 1px solid #eee; }
        .dgtOrderBox .boxCon table .tabCon .canelBtn {
          width: 1.20313rem;
          height: 0.6875rem;
          line-height: 0.6875rem;
          border-radius: 0.07813rem;
          background: #01ddb6;
          color: #fff;
          text-align: center;
          font-size: 0.3125rem;
          margin: auto; }
        .dgtOrderBox .boxCon table .tabCon.buy span {
          color: #dd0125; }
        .dgtOrderBox .boxCon table .tabCon.sale span {
          color: #01ddb6; }
        .dgtOrderBox .boxCon table .tabCon.fure td:nth-child(3) {
          color: #d5b900; }
        .dgtOrderBox .boxCon table .tabCon.ing td:nth-child(3) {
          color: #dd0125; }

.goldRechargeBox .quickPayTitle {
  background: #f4f4f4;
  line-height: 0.9375rem;
  font-size: 0.375rem;
  color: #000;
  width: 100%;
  text-align: left;
  text-indent: 0.3125rem; }
  .goldRechargeBox .quickPayTitle.rchNum {
    background: #fdf6ed; }

.goldRechargeBox .quickPayBox {
  width: 100%;
  position: relative; }
  .goldRechargeBox .quickPayBox .payItem {
    position: relative;
    text-indent: 0.3125rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: left;
    font-size: 0.5625rem;
    color: #000; }
    .goldRechargeBox .quickPayBox .payItem.active {
      background: url("../images/sel_true_icon.png") no-repeat 9.21875rem center;
      background-size: 0.45313rem 0.29688rem; }
    .goldRechargeBox .quickPayBox .payItem:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      height: 1px;
      border-top: 1px solid #e5e5e5;
      color: #e5e5e5;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      left: 0.3125rem;
      z-index: 2; }

.goldRechargeBox .rchIpt {
  position: relative;
  margin-top: 0.9375rem;
  height: 1.5625rem;
  line-height: 1.5625rem;
  color: #000;
  font-size: 0.65625rem;
  background: url("../images/rmb_icon.png") no-repeat left;
  background-size: 0.60938rem auto; }
  .goldRechargeBox .rchIpt .rchNum {
    background: none;
    display: block;
    border: none;
    width: 100%;
    height: 1.5625rem;
    line-height: 1.5625rem;
    text-indent: 0.78125rem; }

.goldRechargeBox .thirdPay {
  display: flex;
  margin: 0.3125rem auto 0.9375rem auto; }
  .goldRechargeBox .thirdPay .thirdItem {
    flex: 1;
    text-align: center;
    vertical-align: middle;
    font-size: 0.375rem;
    color: #000;
    background: url(../images/check_uncheck.png) no-repeat 0.15625rem 0.1875rem;
    background-size: 0.3125rem; }
    .goldRechargeBox .thirdPay .thirdItem.active {
      background: url(../images/check_checked.png) no-repeat 0.15625rem 0.1875rem;
      background-size: 0.3125rem; }
    .goldRechargeBox .thirdPay .thirdItem:nth-child(1) img {
      width: 0.4375rem;
      height: 0.375rem; }
    .goldRechargeBox .thirdPay .thirdItem:nth-child(2) img {
      width: 0.375rem;
      height: 0.375rem; }
    .goldRechargeBox .thirdPay .thirdItem:nth-child(3) img {
      width: 0.51563rem;
      height: 0.29688rem; }
