<div class="manageAccount">
  <Header
    [title]="headerTitle"
    (onVoted)="back($event)">
    >
  </Header>
  <div class="grayBgBar mt80Rem"></div>
  <div class="tipsArea bgGreen">
    <p>您已绑定提现账户 </p>
    <p>温馨提示：</p>
    <p>1.绑定的收款账户开户人需与实名认证姓名一致！</p>
    <p>2.请仔细确认您的帐号是否填写正确。</p>
    <p>3.收款账户不能重复绑定，且一周只能修改一次。</p>
  </div>
  <div class="alterMobileForm WrapB">
    <div class="formIpt">
      <div class="title">真实姓名</div>
      <input class="input" disabled [(ngModel)]="uInfo.realName" value="张三" name="realName" type="text">
    </div>
    <div class="formIpt">
      <div class="title">收款银行</div>
      <input class="input" disabled [(ngModel)]="uInfo.bankName" name="cashBank" type="text">
    </div>
    <div class="formIpt">
      <div class="title">银行卡号</div>
      <input class="input" disabled [(ngModel)]="uInfo.cardNo" name="bankNum" type="text">
    </div>
    <div feedButton routerLink="/alterBankcard" class="alterAccountBtn btn">更改提现账户</div>
  </div>
</div>
