<div class="rechargeRecord">
  <Header
    [title]="headerTitle"
    (onVoted)="back($event)">
    >
  </Header>
  <div class="grayBgBar mt80Rem"></div>
  <ul class="rchRecList">
    <li feedButton class="rchRecItem WrapB wx" (click)="toDetail('5')">
      <div class="recLeft fl">
        <div class="rchType">

        </div>
        <div class="payStr">
          <div class="rchTypeText">
            微信支付
          </div>
          <div class="rchTime">
            2017-9-11 15:52:22
          </div>
        </div>
      </div>
      <div class="recRight fr">
        +1000
      </div>
    </li>
    <li feedButton class="rchRecItem WrapB ali">
      <div class="recLeft fl">
        <div class="rchType">

        </div>
        <div class="payStr">
          <div class="rchTypeText">
            微信支付
          </div>
          <div class="rchTime">
            2017-9-11 15:52:22
          </div>
        </div>
      </div>
      <div class="recRight fr">
        +1000
      </div>
    </li>
    <li feedButton class="rchRecItem WrapB bank">
      <div class="recLeft fl">
        <div class="rchType">

        </div>
        <div class="payStr">
          <div class="rchTypeText">
            微信支付
          </div>
          <div class="rchTime">
            2017-9-11 15:52:22
          </div>
        </div>
      </div>
      <div class="recRight fr">
        +1000
      </div>
    </li>
  </ul>
</div>
