<div class="rechargeRecordDetail">
  <Header
    [title]="headerTitle"
    (onVoted)="back($event)">
    >
  </Header>
  <div class="rchRecBase mt80Rem">
    <div class="rchType tc">
      <img src="../../../assets/images/rch_recorde_list_wx.png" alt="">
      &nbsp;微信支付
    </div>
    <p class="rchNum tc">
      +1000
    </p>
    <p class="rchSratus tc">
      充值成功
    </p>
  </div>
  <div class="rchInfoTable">
    <table class="WrapB tableT">
      <tr>
        <td>付款方式</td>
        <td>微信快捷支付</td>
      </tr>
      <tr>
        <td>商品说明</td>
        <td>游戏道具充值</td>
      </tr>
    </table>
    <table class="WrapB">
      <tr>
        <td>创建时间</td>
        <td>2017-9-11 16:43:48</td>
      </tr>
      <tr>
        <td>订单号</td>
        <td>2017091021001004550293030660</td>
      </tr>
    </table>
  </div>
</div>
